body {
 background-image: url("background_image.jpg");
}  

h1 {
 font-family:sans-serif; 
 color:white;
}

p1 {
  font-family:sans-serif;
  Color:white;
  font-size: 18px;
}

 #group_pic {
   width: 250px;
 }
 
 #verge_logo {
  float: left;
  width: 100px;
  margin: 5px;
 }
 
 #farm {
  float:right;
  width:150px;
 }
 
 #news_story{
  float:right;
  width:100px;
 }
  
 
