body {
 background-image: url("background_image.jpg");
}  

h1 {
 font-family:sans-serif; 
 color:white;
}

p { 
    color: white;
    font-size: 18px;
}

#about_me {
  font-family:sans-serif;
  color:white;
  font-size: 18px;
  width:40%;
}

 #group_pic {
   width: 500px;
 }

 #farm {
   float:right;  
   height:200px;
  margin-left:500px;
 }
 
 #news_story{
  float:left;
  height:200px;
  margin-right:500px;
 }
